.dataTables_wrapper table.mutant-table thead {
    display:none;
}

.dataTables_wrapper table.mutant-table {
    height: 405px;
}

.dataTables_wrapper .input-sm[type="search"] {
    height: 20px;
}

/* Table row colors */
/* Color the next tr the same color, so child rows will have the same color */
.table-striped > tbody > .even {
    background: #fdfdfd !important;
}
.table-striped > tbody > .even + tr {
    background: #fdfdfd;
}
.table-striped > tbody > .odd {
    background: #f8f8f8 !important;
}
.table-striped > tbody > .odd + tr {
    background: #f8f8f8;
}
.table-hover > tbody > tr:hover > td {
    background-color: #f3f3f3;
}

/* Child table margins and padding */
.table-child-details {
    margin-left: 50px;
}
.child-details-left {
    padding-right: 25px;
}

/* Borders between child table rows */
.table-child-details > tbody > tr {
    border-top: solid #dddddd;
    border-bottom: solid #dddddd;
    border-width: 1px;
}
.table-child-details > tbody > tr:first-child {
    border-top: none;
}
.table-child-details > tbody > tr:last-child {
    border-bottom: none;
}

