.dataTables_wrapper {
    background: #fafafa;
}
.dataTables_info {
    padding-left: 8px;
    padding-bottom: 8px;
}
.dataTables_paginate {
    margin-bottom: 2px;
}

.dataTables_wrapper table.mutant-table thead {
    display:none;
}

.dataTables_wrapper table.mutant-table {
    height: 405px;
}

.table-striped > tbody > tr:nth-of-type(2n) {
    background: #fdfdfd;
}

.table-striped > tbody > tr:nth-of-type(2n+1) {
    background: #f8f8f8;
}

.table-hover > tbody > tr:hover > td {
    background-color: #f3f3f3;
}

.dataTables_wrapper .input-sm[type="search"] {
    height: 20px;
}
