.blank_row {
    height: 10px !important; /* Overwrite any previous rules */
    background-color: #FFFFFF;
}

#info {
	float: left;
	margin: auto;
    width: 50%;
    padding: 0px 1%;
}

#right {
	float: left;
	margin: auto;
    width: 50%;
    padding: 0px 1%;
}

#splash {
    position:absolute;
    width:400px;
    height:300px;
    z-index:15;
    top:50%;
    left:50%;
    margin:-150px 0 0 -200px;
    text-align:center;
}


body { padding-top: 70px; }

.turn {
    background-color: #6FC643;
    border: 1px solid #C0C0C0;
    color: #FFF;
    transition-property: background-color, border-color;
    transition-duration: 150ms;
    min-width: 100px;
}

.turn:hover {
    color: #FFF;
    background-color: #65B63D;
    border-color: #ADADAD;
}

.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: normal;
}
.form-signin .form-control {
    position: relative;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}