@import 'https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu';

body {
	/*font-family: 'Roboto', arial;*/
	  font-family: 'Ubuntu', 'Open Sans', sans-serif;
	font-size: 14px;
	line-height: 22px;
	color: #424242;
	background-color: #fafafa;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 25px;
}

#site-logo:hover {
	color: #CCCCCC;
}

.menu-top .bg-light-blue .minus-2 {
	background-color: rgb(0, 151, 209);
}

.main-title {
	font-family: 'Ubuntu', 'Open Sans', sans-serif;
	color: #ffffff;
	font-size: 48px;
}

.scoreboard {
	width: 100%;
	color: #cccccc;
}

.scoreboard .attacker {
	background-color: #772233;
}
span.attackerTotal {
	color: #772233;
	text-align: right;
	font-size: 36px;
}

.scoreboard .attacker.header, .scoreboard .attacker.total {
	background-color: #884466;
}

.scoreBanner {
	width: 100%;
	text-align: center;
	margin-bottom: 10px;
}

.scoreboard .defender {
	background-color: #225577;
}

span.defenderTotal {
	color: #225577;
	text-align: left;
	font-size: 36px;
}

.scoreboard .defender.header, .scoreboard .defender.total {
	background-color: #446688;
}

.scoreboard .header th {
	color: #ffffff;
	font-weight: lighter;
	font-size: 16px;

}

.button a {
	text-align: center;
	margin: 0 auto;
	width: 100%;
}

.blank_row {
	height: 10px !important; /* Overwrite any previous rules */
	background-color: #FFFFFF;
}

#info {
	float: left;
	margin: auto;
	width: 50%;
	padding: 0px 1%;
}

#right {
	float: left;
	margin: auto;
	width: 50%;
	padding: 0px 1%;
}

#splash .btn {
	padding: 10px 34px;
	font-size: 20px;
	font-weight: 300;
	color: #fff;
	border: 0;
}

#splash {
	position: relative;
	width: 100%;
	height: 650px;
	z-index:15;
	margin: auto;
	text-align:center;
	background-color: #fafafa;
}

#research {
	position: relative;
	width: 100%;
	z-index:15;
	margin: auto;
	text-align:center;
	background-color: #fafafa;
}

#contact {
	position: relative;
	width: 100%;
	height: 650px;
	z-index:15;
	margin: auto;
	text-align:center;
	background-color: #fafafa;
}

textarea {
	width:100px;
	height: 150px;
}

body {
	padding-top: 0px;
	padding-left: 0px;
	padding-right: 0px;
	margin-bottom: 60px; /* footer height */
	width: 100%;
}

.btn-diff, .btn-right {
	float: right;
}

.btn-game {
	font-weight: 700;
}

.turn-badge {
	font-size: 10pt;
	color: #fff;
}
.turn-badge:hover {
	color: #fff;
}

/* Sign-in form */


.tableform {
	border-collapse: separate;
	border-spacing: 20px;
	font-size: 16px;
	text-align: center;
	line-height: 27px;
}

th, td {
	padding: 5px;
}

.games-table td, .games-table th
{
	padding: 5px;
	text-align:center;
}

.form-upload {
	padding: 15px;
	margin: 0 auto;
	max-width: 550px;
}

.form-contact {
	padding: 15px;
	margin: 0 auto;
	max-width: 450px;
}

.form-creategame {
	padding: 15px;
	margin: 0 auto;
	max-width: 550px;
}

.form-creategame-mp {
	padding: 15px;
	margin: 0 auto;
	max-width: 750px;
}

.form-signin {
	padding: 15px;
	margin: 0 auto;
	max-width: 330px;
}

.form-creategame,
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin .checkbox {
	font-weight: normal;
}

.form-creategame .form-control,
.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

.form-creategame .form-control:focus,
.form-signin .form-control:focus {
	z-index: 2;
}

.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

/* Slider */

.slick-slider {
	overflow: visible !important;
	position: relative;
	max-width : 80%;
	width : 80%;
	margin-left: 50px;
	margin-right: 50px;
	-moz-box-sizing: border-box;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-ms-touch-action: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.slick-prev,
.slick-next {
	position: absolute;
	line-height: 1;
	border: none;
	outline: none;
	cursor: pointer;
	background: transparent;
	color: transparent;
}

.slick-prev {
	top: 50%;
	left: -50px;
}

.slick-next {
	top: 50%;
	right: -50px;
}

.slick-prev:before {
	content: '\2770';
	color: gray;
	font-size: 50px;
}

.slick-next:after {
	content: '\2771';
	color: gray;
	font-size: 50px;
}

/* Read-only textareas */

.readonly-pre .CodeMirror-focused .CodeMirror-cursor {
    visibility: hidden; /* hide cursor */
}

.readonly-pre .CodeMirror-lines {
    cursor : default; /* default pointer */
	text-align: left;
}

.CodeMirror-sizer {
	text-align: left;
}

.readonly-pre .CodeMirror {
    background: #F5F5F5; /* #f7f7f7; */
}

/* Sticky footer styles
-------------------------------------------------- */

.footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 30px; /* footer height */
	background-color: #f7f7f7;
}

.footer .container {
	width: 100%;
	padding: 0 15px;
}

.button.tab-link, .button.list-item{
	/* text-transform: lowercase; */
}

.footer .container .text-muted {
	margin: 5px 0;
}

.bigicon {
	font-size: 35px;
	color: #000;
}

.fieldset-auto-width {
	display: inline-block;
}

.menu-top {
	height: 60px;

}

textarea[id="inputMessage"] {
    resize: none;
}

.pull-right {
	float: right !important;
}

img.displayed {
	display: block;
	margin-left: auto;
	margin-right: auto;
	border-radius: 25px;
	border: 5px solid #f5f5f5;
	padding: 20px;
	width:700px;
}

img.logo {
    max-width:40px;
}

nav {
    text-align:center;
}

nav ul {
    margin: 0;
    padding: 0;
    display:inline-block;
    list-style: none;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}
nav li {
    margin: 0;
    display:inline-block;
}
nav li a {
    display: block;
    padding: 5px 5px;
    font-size: 13px;
    text-decoration: none;
}

.navbar-right {
	padding-right: 10px;
}

.navbar-brand {
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
}

.navbar-nav {
	float: none;
	margin: 0 auto;
}

.navbar-text {
	margin-top: 5px;
	margin-bottom: 5px;
}

/* Link styles (used on .masthead-links as well) */
.jumbotron a {
	color: #000;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
}

/* Textual links in masthead */
.masthead-links {
	margin: 0;
	list-style: none;
}
.masthead-links li {
	display: inline;
	padding: 0 10px;
	color: rgba(255,255,255,.25);
}

/* Papercite */

.paper-list {
	margin: 10px
}

.papercite_bibliography {
	color: #ccc;
	list-style-type: none;
}

.papercite_bibliography li {
	font: 14px/1.5 Helvetica, sans-serif;
	padding-left: 60px;
	color: #555;
	margin-bottom: 20px;
}

.bibtex_hide {
	display: none;
}

.bibtex_show {
	text-align: left;
}

.tex {
	margin: 0 auto;
	width:40%;
}

.paper_title {
	font-weight: bold;
}

.paper_venue {
	font-style: italic;
}
