.game-notifications, .game-notifications.min {
    border: 1px solid #000;
    border-radius: 1px;
    position: fixed;
    top: 100%;
    padding: 0px;
    background-color: white;

    width: 200px;

    z-index: 100000;

    padding: 0px;

    margin: 0px;

    margin-top: -28px;
    height: 28px;
}

#game-notifications-defenders a {
    background-color: #66d1ff;
    color: white;
}

#game-notifications-attackers a {
    background-color: #FF4444;
    color: white;
}

#game-notifications-game a {
    background-color: #DEDEDE;
    color: black;
}

#game-notification-bar .game-notifications a {
    font-size: 14px;
    height: 24px;
    padding: 0px;
    width: 200px;
    color: #000;
    padding: 5px;
    margin: 0px;
    float: left;
}

#game-notification-bar .game-notifications a:hover {
    text-decoration: underline;
    cursor: pointer;
}

.game-notifications.expand {
    height: 256px;
    width: 200px;
    margin-top: -256px;
    z-index: 11000000;
    background-color: white;
    padding: 0px;
}

.game-notifications .events {
    width: 100%;
    height: 200px;
    overflow-y: scroll;
    background-color: #FFFFFF;
    border: 1px solid #000;
    margin: 0px;
    padding: 0px;
    color: #000000;
}

.game-notifications input {
    background-color: #FFFFFF;
    border: 1px solid #000;
    margin: 0px;
    padding: 0px;
    color: #000000;
    width: 180px;
    float: left;
    height: 31px;
    padding: 2px;
}

.game-notifications button {
    float:right;
    border: none;
    background-color: white;
    width: 18px;
    height: 35px;
    border-left: 1px solid black;
}
.game-notifications .events p {
    line-height: 16px;
    text-align: left;
    text-indent: 0px;
    padding: 5px 5px;
}

.game-notifications.notif-alert a {
    font-weight: bolder;
}

#game-notification-bar {
    margin: 0px;
    padding: 0px;
    position: fixed;
    z-index: 100000;
    float: left;
    left: 100%;
    top:100%;
    font-size: 14px;
    margin-top: -28px;
    height: 38px;
}

#game-notification-bar.min {
    margin-left: -50px;
    width: 50px;
}

#game-notification-bar.expand {
    margin-left: -471px;
    width: 471px;
}

#game-notification-bar.expand.creator {
    margin-left: -671px;
    width: 671px;
}

#notification-show-bar {
    width: 34px;
    height: 38px;
    color: #fff;
    background-color: #fff;
    border: 1px solid black;
    font-size: 18px;
    margin: 0px;
    padding: 6px 3px;
}

#notification-show-bar span:first-child {
    color: black;
    margin-top: 12px;
    background-color: #DEDEDE;
    border: 1px solid #CCCCCC;
    font-size: 14px;
    padding: 6px 3px;
    height: 36px;
}

#game-notification-bar a:hover{
    cursor: pointer;
}