<web-app>

	<servlet>
		<servlet-name>loginmanager</servlet-name>
		<servlet-class>gammut.LoginManager</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginmanager</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>gameselectionmanager</servlet-name>
		<servlet-class>gammut.GameSelectionManager</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>gameselectionmanager</servlet-name>
		<url-pattern>/games</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>intropage</servlet-name>
		<servlet-class>gammut.IntroPage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>intropage</servlet-name>
		<url-pattern>/intro</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>attackpage</servlet-name>
		<servlet-class>gammut.AttackerPage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>attackpage</servlet-name>
		<url-pattern>/attacker</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>defenderpage</servlet-name>
		<servlet-class>gammut.DefenderPage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>defenderpage</servlet-name>
		<url-pattern>/defender</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>score</servlet-name>
		<servlet-class>gammut.ScorePage</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>score</servlet-name>
		<url-pattern>/scores</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>updateclasses</servlet-name>
		<servlet-class>gammut.UpdateAvailableClasses</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateclasses</servlet-name>
		<url-pattern>/updateclasses</url-pattern>
	</servlet-mapping>

	<filter>
	   <filter-name>loginfilter</filter-name>
	   <filter-class>gammut.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
	   <filter-name>loginfilter</filter-name>
	   <url-pattern>/intro</url-pattern>
	</filter-mapping>

</web-app>