<web-app>

	<servlet>
		<servlet-name>loginManager</servlet-name>
		<servlet-class>gammut.LoginManager</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>loginManager</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>gameSelectionManager</servlet-name>
		<servlet-class>gammut.GameSelectionManager</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>gameSelectionManager</servlet-name>
		<url-pattern>/games</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>gameManager</servlet-name>
		<servlet-class>gammut.GameManager</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>gameManager</servlet-name>
		<url-pattern>/play</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>updateClasses</servlet-name>
		<servlet-class>gammut.UpdateAvailableClasses</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>updateClasses</servlet-name>
		<url-pattern>/updateclasses</url-pattern>
	</servlet-mapping>

	<servlet>
	    <servlet-name>intro_view.jsp</servlet-name>
	    <jsp-file>/html/intro_view.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	    <servlet-name>intro_view.jsp</servlet-name>
	    <url-pattern>/intro</url-pattern>
	</servlet-mapping>

	<servlet>
	    <servlet-name>user_games_view.jsp</servlet-name>
	    <jsp-file>/html/user_games_view.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	    <servlet-name>user_games_view.jsp</servlet-name>
	    <url-pattern>/games/user</url-pattern>
	</servlet-mapping>

	<servlet>
	    <servlet-name>open_games_view.jsp</servlet-name>
	    <jsp-file>/html/open_games_view.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	    <servlet-name>open_games_view.jsp</servlet-name>
	    <url-pattern>/games/open</url-pattern>
	</servlet-mapping>

	<servlet>
	    <servlet-name>create_game_view.jsp</servlet-name>
	    <jsp-file>/html/create_game_view.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	    <servlet-name>create_game_view.jsp</servlet-name>
	    <url-pattern>/games/create</url-pattern>
	</servlet-mapping>

	<servlet>
	    <servlet-name>history_view.jsp</servlet-name>
	    <jsp-file>/html/history_view.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	    <servlet-name>history_view.jsp</servlet-name>
	    <url-pattern>/games/history</url-pattern>
	</servlet-mapping>

	<filter>
	   <filter-name>loginFilter</filter-name>
	   <filter-class>gammut.LoginFilter</filter-class>
	</filter>
	<filter-mapping>
	   <filter-name>loginFilter</filter-name>
	   <url-pattern>/*</url-pattern>
	</filter-mapping>

</web-app>