### Libraries ###
src/test/resources/itests/lib/*.jar

# Docker outputs
src/test/resources/systemtests/frontend/codedefenders/

### Credentials ###
credentials*
config.properties
docker.properties
docker/.env
database.properties
.env

### Logs ###
*.log
*.dot

### Java ###
*.class

# Package Files #
*.war

# Maven #
target/

# Vagrant
.vagrant
vagrant.yml

### Backup ###
*~

### macOS ###
.DS_Store

### IntelliJ ###
.idea/deployment.xml
.idea/workspace.xml
.idea/tasks.xml
.idea/libraries/
.idea/dataSources.local.xml
out/
.idea/
*.iml

### Node.js ###
node
node_modules
