# CodeDefenders data directory
data.dir=
# Ant Home
ant.home=
# JDBC Connection url to database
db.url=
# database access data
db.username=
db.password=

# Skip tests on mutants that are not covered
mutant.coverage=true

# Tomcat data for the deployment
tomcat.username=
tomcat.password=
# Deployment (not final) URL usually looks like http://<domain>:<port>/manager/text
tomcat.url=
