.details-content {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-block: 3rem;
    max-width: 70rem !important;
    margin-inline: auto;
}

.details-content .details-content__item {
    background: #eee;
    border-radius: 5px;
    padding: 2rem;
    max-height: 90vh;
    overflow-y: auto;
}

.details-content__item > :is(h1, h2, h3, h4, h5, h6):first-child {
    margin-block-end: 2rem;
}

.details-content .details-content__item .game-component-header {
    margin-top: 0;
}

.details-content #cut-div .game-component-resize {
    height: 70vh;
    min-height: 250px;
}