.scoreboard {
    color: white;
}
.scoreboard th {
    font-weight: lighter;
    font-size: 16px;
}

.scoreboard .attacker {
    background-color: var(--bg-attacker);
}
.scoreboard .attacker.header,
.scoreboard .attacker.total {
    background-color: var(--bg-attacker-contrast);
}

.scoreboard .defender {
    background-color: var(--bg-defender);
}
.scoreboard .defender.header,
.scoreboard .defender.total {
    background-color: var(--bg-defender-contrast);
}
