.papercite_bibliography {
    color: #555;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.papercite_bibliography li {
    margin-bottom: 1.5em;
}
.papercite_bibliography li:last-child {
    margin-bottom: 0;
}

.bibtex {
    position: relative;
    margin-top: .5rem;
}
.tex {
    padding: 1em 1.5em;
    background-color: #eeeff0;
}
.btn-bibtex-copy {
    position: absolute;
    top: .65em;
    right: .65em;
    background-color: white;
}

.paper_title {
    font-weight: bold;
}
.paper_venue {
    font-style: italic;
}
.pdf_link {
    text-decoration: none;
}

