.blank_row {
    height: 10px !important; /* Overwrite any previous rules */
    background-color: #FFFFFF;
}

#info {
	float: left;
	margin: auto;
    width: 50%;
    padding: 0px 1%;
}

#code {
	float: left;
	margin: auto;
    width: 50%;
    padding: 0px 1%;
}

#splash {
    position:absolute;
    width:400px;
    height:300px;
    z-index:15;
    top:50%;
    left:50%;
    margin:-150px 0 0 -200px;
    text-align:center;
}

body { padding-top: 70px; }