## This variable defines the version of the codedefenders container (tag)
CODEDEFENDERS_VERSION=git-50f74405
## These variables are required to be set to get both container up and running
CODEDEFENDERS_DB_NAME=defender
CODEDEFENDERS_DB_USERNAME=defender
CODEDEFENDERS_DB_PASSWORD=defender

## These are the credentials for the basic auth dialog which protects the /admin resources
# CODEDEFENDERS_ADMIN_USERNAME=admin
# CODEDEFENDERS_ADMIN_PASSWORD=password

## You can add other environment variables for configuration. More information inside the `docs/Docker.md`
