/* Hide everything else during the loading animation. */
.loading > * {
    visibility: hidden !important;
}

/* The loading animation itself. */
.loading {
    position: relative;
    min-height: 100px;
}
.loading::after {
    content: url('../../images/loading.png');
    position: absolute;
    top: calc(50% - 32px);
    left: calc(50% - 32px);
    animation: spin 1s linear infinite;

    /* Dimensions of the image. For some reason, the image has other dimensions when not set here. */
    height: 64px;
    width: 64px;
}
@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

/* Styles for the element while loading. */
.loading.loading-border-card {
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}
.loading.loading-bg-gray {
    background: #f7f7f7;
}
.loading.loading-height-200 {
    height: 200px;
}
