.validatorLevelTag {
  display: inline-block;
  padding: 0;
  margin-top: -2px;
  padding-left: 3px;
  padding-right: 3px;
}

.clear {
  clear: both;
  float: left;
}

.game-container {
  /*border: 1px solid black;*/
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  padding: 10px;
  margin: 10px;
  margin-bottom: 30px;
  width:calc(100% - 20px);
  position: absolute;
  overflow: hidden;
  background: #fafafa;
  margin-bottom: 50px;
  overflow: visible;
}

#messages strong {
  text-align: center;
  width: 100%;
}

.crow {
  padding: 0 15px;
  text-align: center;
  font-size: 0;
  line-height: 0;
}
.crow .crow {
  font-size: 0;
  line-height: 0;
  padding: 0;
}
.crow:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.crow > * {
  vertical-align: middle;
  display: inline-block;
  font-size: 14px;
  line-height: 22px;
}
.crow > *:not(.text-center) {
  text-align: left;
}
.crow .w-1 {
  width: 1%;
}
.crow .w-2 {
  width: 2%;
}
.crow .w-3 {
  width: 3%;
}
.crow .w-4 {
  width: 4%;
}
.crow .w-5 {
  width: 5%;
}
.crow .w-6 {
  width: 6%;
}
.crow .w-7 {
  width: 7%;
}
.crow .w-8 {
  width: 8%;
}
.crow .w-9 {
  width: 9%;
}
.crow .w-10 {
  width: 10%;
}
.crow .w-11 {
  width: 11%;
}
.crow .w-12 {
  width: 12%;
}
.crow .w-13 {
  width: 13%;
}
.crow .w-14 {
  width: 14%;
}
.crow .w-15 {
  width: 15%;
}
.crow .w-16 {
  width: 16%;
}
.crow .w-17 {
  width: 17%;
}
.crow .w-18 {
  width: 18%;
}
.crow .w-19 {
  width: 19%;
}
.crow .w-20 {
  width: 20%;
}
.crow .w-21 {
  width: 21%;
}
.crow .w-22 {
  width: 22%;
}
.crow .w-23 {
  width: 23%;
}
.crow .w-24 {
  width: 24%;
}
.crow .w-25 {
  width: 25%;
}
.crow .w-26 {
  width: 26%;
}
.crow .w-27 {
  width: 27%;
}
.crow .w-28 {
  width: 28%;
}
.crow .w-29 {
  width: 29%;
}
.crow .w-30 {
  width: 30%;
}
.crow .w-31 {
  width: 31%;
}
.crow .w-32 {
  width: 32%;
}
.crow .w-33 {
  width: 33%;
}
.crow .w-34 {
  width: 34%;
}
.crow .w-35 {
  width: 35%;
}
.crow .w-36 {
  width: 36%;
}
.crow .w-37 {
  width: 37%;
}
.crow .w-38 {
  width: 38%;
}
.crow .w-39 {
  width: 39%;
}
.crow .w-40 {
  width: 40%;
}
.crow .w-41 {
  width: 41%;
}
.crow .w-42 {
  width: 42%;
}
.crow .w-43 {
  width: 43%;
}
.crow .w-44 {
  width: 44%;
}
.crow .w-45 {
  width: 45%;
}
.crow .w-46 {
  width: 46%;
}
.crow .w-47 {
  width: 47%;
}
.crow .w-48 {
  width: 48%;
}
.crow .w-49 {
  width: 49%;
}
.crow .w-50 {
  width: 50%;
}
.crow .w-51 {
  width: 51%;
}
.crow .w-52 {
  width: 52%;
}
.crow .w-53 {
  width: 53%;
}
.crow .w-54 {
  width: 54%;
}
.crow .w-55 {
  width: 55%;
}
.crow .w-56 {
  width: 56%;
}
.crow .w-57 {
  width: 57%;
}
.crow .w-58 {
  width: 58%;
}
.crow .w-59 {
  width: 59%;
}
.crow .w-60 {
  width: 60%;
}
.crow .w-61 {
  width: 61%;
}
.crow .w-62 {
  width: 62%;
}
.crow .w-63 {
  width: 63%;
}
.crow .w-64 {
  width: 64%;
}
.crow .w-65 {
  width: 65%;
}
.crow .w-66 {
  width: 66%;
}
.crow .w-67 {
  width: 67%;
}
.crow .w-68 {
  width: 68%;
}
.crow .w-69 {
  width: 69%;
}
.crow .w-70 {
  width: 70%;
}
.crow .w-71 {
  width: 71%;
}
.crow .w-72 {
  width: 72%;
}
.crow .w-73 {
  width: 73%;
}
.crow .w-74 {
  width: 74%;
}
.crow .w-75 {
  width: 75%;
}
.crow .w-76 {
  width: 76%;
}
.crow .w-77 {
  width: 77%;
}
.crow .w-78 {
  width: 78%;
}
.crow .w-79 {
  width: 79%;
}
.crow .w-80 {
  width: 80%;
}
.crow .w-81 {
  width: 81%;
}
.crow .w-82 {
  width: 82%;
}
.crow .w-83 {
  width: 83%;
}
.crow .w-84 {
  width: 84%;
}
.crow .w-85 {
  width: 85%;
}
.crow .w-86 {
  width: 86%;
}
.crow .w-87 {
  width: 87%;
}
.crow .w-88 {
  width: 88%;
}
.crow .w-89 {
  width: 89%;
}
.crow .w-90 {
  width: 90%;
}
.crow .w-91 {
  width: 91%;
}
.crow .w-92 {
  width: 92%;
}
.crow .w-93 {
  width: 93%;
}
.crow .w-94 {
  width: 94%;
}
.crow .w-95 {
  width: 95%;
}
.crow .w-96 {
  width: 96%;
}
.crow .w-97 {
  width: 97%;
}
.crow .w-98 {
  width: 98%;
}
.crow .w-99 {
  width: 99%;
}
.crow .w-100 {
  width: 100%;
}
.crow .ws-1 {
  width: 8.333333333333334%;
}
.crow .ws-2 {
  width: 16.666666666666668%;
}
.crow .ws-3 {
  width: 25%;
}
.crow .ws-4 {
  width: 33.333333333333336%;
}
.crow .ws-5 {
  width: 41.666666666666664%;
}
.crow .ws-6 {
  width: 50%;
}
.crow .ws-7 {
  width: 58.333333333333336%;
}
.crow .ws-8 {
  width: 66.66666666666667%;
}
.crow .ws-9 {
  width: 75%;
}
.crow .ws-10 {
  width: 83.33333333333333%;
}
.crow .ws-11 {
  width: 91.66666666666667%;
}
.crow .ws-12 {
  width: 100%;
}
.crow.fly > *:first-child:nth-last-child(1),
.crow.fly > *:first-child:nth-last-child(1) ~ * {
  width: 100%;
}
.crow.fly > *:first-child:nth-last-child(2),
.crow.fly > *:first-child:nth-last-child(2) ~ * {
  width: 50%;
}
.crow.fly > *:first-child:nth-last-child(3),
.crow.fly > *:first-child:nth-last-child(3) ~ * {
  width: 33.333333333333336%;
}
.crow.fly > *:first-child:nth-last-child(4),
.crow.fly > *:first-child:nth-last-child(4) ~ * {
  width: 25%;
}
.crow.fly > *:first-child:nth-last-child(5),
.crow.fly > *:first-child:nth-last-child(5) ~ * {
  width: 20%;
}
.crow.fly > *:first-child:nth-last-child(6),
.crow.fly > *:first-child:nth-last-child(6) ~ * {
  width: 16.666666666666668%;
}
.crow.fly > *:first-child:nth-last-child(7),
.crow.fly > *:first-child:nth-last-child(7) ~ * {
  width: 14.285714285714286%;
}
.crow.fly > *:first-child:nth-last-child(8),
.crow.fly > *:first-child:nth-last-child(8) ~ * {
  width: 12.5%;
}
.crow.fly > *:first-child:nth-last-child(9),
.crow.fly > *:first-child:nth-last-child(9) ~ * {
  width: 11.11111111111111%;
}
.crow.fly > *:first-child:nth-last-child(10),
.crow.fly > *:first-child:nth-last-child(10) ~ * {
  width: 10%;
}
.crow.fly > *:first-child:nth-last-child(11),
.crow.fly > *:first-child:nth-last-child(11) ~ * {
  width: 9.090909090909092%;
}
.crow.fly > *:first-child:nth-last-child(12),
.crow.fly > *:first-child:nth-last-child(12) ~ * {
  width: 8.333333333333334%;
}
.crow > * {
  padding: 0 15px;
}
.crow > *.up {
  vertical-align: top;
}
.crow > *.down {
  vertical-align: bottom;
}
.crow.up > * {
  vertical-align: top;
}
.crow.down > * {
  vertical-align: bottom;
}
.crow.no-gutter {
  padding: 0;
}
.crow.no-gutter > * {
  padding: 0;
}
.nest {
  width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}
.nest > .crow {
  margin: 0 -15px;
  padding: 0;
}
@media (min-width: 768px) and (max-width: 1199px) {
  body .nest {
    width: 750px;
  }
  body .nest .crow > .crow.crow,
  body .nest .crow > .crow.crow.fly {
    height: auto;
  }
  body .nest .crow > .crow.crow > *,
  body .nest .crow > .crow.crow.fly > * {
    display: block;
    width: 100%;
  }
  body .nest .crow > .crow.crow:before,
  body .nest .crow > .crow.crow.fly:before {
    content: '';
    display: none;
  }
}
@media (max-width: 767px) {
  body .nest {
    width: auto;
  }
  body .crow:not(.keep-alive).crow,
  body .crow:not(.keep-alive).crow.fly {
    height: auto;
  }
  body .crow:not(.keep-alive).crow > *,
  body .crow:not(.keep-alive).crow.fly > * {
    display: block;
    width: 100%;
  }
  body .crow:not(.keep-alive).crow:before,
  body .crow:not(.keep-alive).crow.fly:before {
    content: '';
    display: none;
  }
}
.text {
  overflow: hidden;
  position: relative;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.block {
  display: block;
}
.inline-block {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.center {
  text-align: center;
  font-size: 0;
  line-height: 0;
  text-align: left;
}
.center .crow {
  font-size: 0;
  line-height: 0;
  padding: 0;
}
.center:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.center > * {
  vertical-align: middle;
  display: inline-block;
  font-size: 14px;
  line-height: 22px;
}
.center > *:not(.text-center) {
  text-align: left;
}
.small {
  font-size: 80%;
}
.large {
  font-size: 120%;
}
.spacer {
  height: 40px;
}
.spacer.half {
  height: 20px;
}
.spacer.quarter {
  height: 10px;
}
a {
  word-break: break-word;
  background: transparent;
}
a:active,
a:hover {
  outline: 0;
}
html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
}
body {
  margin: 0;
}
body:before {
  position: fixed;
  visibility: hidden;
  *display: none;
}
img {
  border: 0;
  max-width: 100%;
}
ul.minimized ul {
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  display: none;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
ul.minimized ul.opened {
  visibility: visible;
  opacity: 1;
  border-color: #cfd8dc;
}
ul.unstyled {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.unstyled li {
  display: block;
}
ul.unstyled ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
ul.unstyled ul li a {
  padding-left: 20px;
}
ul.unstyled ul li ul li a {
  padding-left: 40px;
}
ul.unstyled ul li ul ul li a {
  padding-left: 60px;
}
ul.inline {
  list-style: none;
  padding: 0;
  margin: 0;
}
ul.inline > li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/* normalize.css v3.0.2 | MIT License | git.io/normalize */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden],
template {
  display: none;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}
pre {
  overflow: auto;
}
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}
button {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}
button[disabled],
html input[disabled] {
  cursor: default;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
input {
  line-height: normal;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  -webkit-appearance: textfield; /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box; /* 2 */
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0; /* 1 */
  padding: 0; /* 2 */
}
textarea {
  overflow: auto;
}
optgroup {
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
html,
body {
  background: #fafafa;
  height: 90%; /*leave room for footer*/
  margin: 0;
}
body {
  display: table;
}
html {
  overflow-y: scroll;
}
footer,
.bot,
header,
.top,
#wrapper {
  display: table-row;
  min-height: 1px;
}
#wrapper {
  height: 100%;
  position: relative;
}
input[type=text],
input[type=password],
input[type=email] {
  width: 100%;
  background: none;
  border: 0;
  border-bottom: 1px solid #cfd8dc;
  padding: 5px 0 9px 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-font-smoothing: antialiased;
}
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus {
  outline: 0;
  border-width: 2px;
  padding-bottom: 8px;
  border-color: #00bcd4;
}
input[type=text]:disabled,
input[type=password]:disabled,
input[type=email]:disabled {
  border-style: dotted;
}
input[type=text]:disabled:hover,
input[type=password]:disabled:hover,
input[type=email]:disabled:hover {
  cursor: not-allowed;
}
input[type=text]:disabled::-webkit-input-placeholder,
input[type=password]:disabled::-webkit-input-placeholder,
input[type=email]:disabled::-webkit-input-placeholder {
  opacity: 0.5;
}
input[type=text]:disabled:-moz-placeholder,
input[type=password]:disabled:-moz-placeholder,
input[type=email]:disabled:-moz-placeholder {
  opacity: 0.5;
}
input[type=text]:disabled::-moz-placeholder,
input[type=password]:disabled::-moz-placeholder,
input[type=email]:disabled::-moz-placeholder {
  opacity: 0.5;
}
input[type=text]:disabled:-ms-input-placeholder,
input[type=password]:disabled:-ms-input-placeholder,
input[type=email]:disabled:-ms-input-placeholder {
  opacity: 0.5;
}
.input {
  position: relative;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  padding: 10px;
}
.input .error-message {
  padding: 0 10px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-size: 80%;
  color: #e51c23;
}
.input .error-message:hover {
  color: #e51c23;
}
.input.error {
  margin-bottom: 20px;
}
.input.error .error-message {
  opacity: 1;
  visibility: visible;
}
.input.error input,
.input.error textarea {
  border-width: 2px;
  padding-bottom: 8px;
  border-color: #e51c23;
}
select {
  width: 100%;
}
input[type=submit] {
  -webkit-appearance: none;
  border: 0;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  padding: 10px 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  text-transform: uppercase;
  width: auto;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  -webkit-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.12);
  -moz-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.12);
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.12);
}
input[type=submit]:not(.waves-effect):hover {
  background-color: #0097a7;
  -webkit-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.12);
  -moz-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.12);
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.12);
}
input[type=submit]:not(.waves-effect):active {
  -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.16);
  box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.16);
}
input[type=submit]:not(.waves-effect).disabled {
  background-color: #eee;
  color: #bdbdbd;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
input[type=submit]:not(.waves-effect).disabled:hover {
  color: #bdbdbd;
}
input[type=submit]:not(.waves-effect).disabled:hover {
  background-color: none;
  color: #bdbdbd;
  background-color: #eee;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
input[type=submit]:not(.waves-effect).disabled:hover:hover {
  color: #bdbdbd;
}
input[type=submit]:not(.waves-effect).disabled:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
input[type=submit]:focus {
  outline: 0;
}
input[type=submit].flat {
  background-color: transparent;
}
input[type=submit].disabled,
input[type=submit]:disabled {
  background-color: #eee;
  color: #bdbdbd;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
input[type=submit].disabled:hover,
input[type=submit]:disabled:hover {
  color: #bdbdbd;
}
input[type=submit].disabled:hover,
input[type=submit]:disabled:hover {
  background-color: none;
  color: #bdbdbd;
  background-color: #eee;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
input[type=submit].disabled:hover:hover,
input[type=submit]:disabled:hover:hover {
  color: #bdbdbd;
}
input[type=submit].disabled:active,
input[type=submit]:disabled:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.button {
  padding: 10px 20px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  /* text-transform: uppercase; */
  width: auto;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
  /* display: inline-block; */
  *display: inline;
  *zoom: 1;
  -webkit-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.12);
  -moz-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.12);
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.12);
}
.button:not(.waves-effect):hover {
  background-color: #0097a7;
  -webkit-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.12);
  -moz-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.12);
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.12);
}
.button:not(.waves-effect):active {
  background-color: #0097a7;
  -webkit-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.16);
  box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.16);
}
.button:not(.waves-effect).disabled {
  background-color: #eee;
  color: #bdbdbd;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.button:not(.waves-effect).disabled:hover {
  color: #bdbdbd;
}
.button:not(.waves-effect).disabled:hover {
  background-color: none;
  color: #bdbdbd;
  background-color: #eee;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.button:not(.waves-effect).disabled:hover:hover {
  color: #bdbdbd;
}
.button:not(.waves-effect).disabled:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.button.flat {
  background: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.button.flat:hover {
  background-color: #4dd0e1;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #fff;
}
.button.flat:hover:hover {
  color: #fff;
}
.button.flat:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.button.flat.disabled {
  background-color: #eee;
  color: #bdbdbd;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.button.flat.disabled:hover {
  color: #bdbdbd;
}
.button.flat.disabled:hover {
  background-color: none;
  color: #bdbdbd;
  background-color: #eee;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.button.flat.disabled:hover:hover {
  color: #bdbdbd;
}
.button.flat.disabled:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.button.flat.waves-effect:hover {
  background: none;
  color: #00bcd4;
}
.button.flat.waves-effect:hover:hover {
  color: #00bcd4;
}
.button.text {
  background: none;
  padding: 0 20px 0 0;
  font-weight: bold;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.button.text:hover {
  background: none;
  color: #4dd0e1;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.button.text:active {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.button.text.disabled {
  background: none;
}
.button.text.disabled:hover {
  color: #bdbdbd;
}
.button.text.disabled:hover:hover {
  color: #bdbdbd;
}
a.button:hover,
a.button:focus {
  text-decoration: none;
}
i.waves-effect:hover input[type=submit] {
  background: none;
  color: #00bcd4;
}
i.waves-effect:hover input[type=submit]:hover {
  color: #00bcd4;
}
.card {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  overflow: hidden;
  -webkit-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.12);
  -moz-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.12);
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.12);
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
a.card {
  color: inherit;
}
.circle {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  overflow: hidden;
  text-align: center;
  font-size: 0;
  line-height: 0;
  -webkit-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.12);
  -moz-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.12);
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.12);
}
.circle .crow {
  font-size: 0;
  line-height: 0;
  padding: 0;
}
.circle:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.circle > * {
  vertical-align: middle;
  display: inline-block;
  font-size: 14px;
  line-height: 22px;
}
.circle > *:not(.text-center) {
  text-align: left;
}
.circle .icon {
  font-size: 30px;
}
a.circle:hover {
  text-decoration: none;
}
.relative {
  position: relative;
}
.relative .drop {
  visibility: hidden;
  opacity: 0;
}
.relative .drop a.list-item:hover {
  background-color: #eee;
}
.relative:hover .drop {
  visibility: visible;
  opacity: 1;
}
.drop {
  position: absolute;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  z-index: 11;
}
.drop.up {
  bottom: 0;
  top: auto;
}
.drop.up.max {
  width: 100%;
}
.drop.up-left {
  top: auto;
  bottom: 100%;
  left: 0;
  right: auto;
}
.drop.up-left.max {
  width: 100%;
}
.drop.up-right {
  top: auto;
  bottom: 100%;
  right: 0;
  left: auto;
}
.drop.up-right.max {
  width: 100%;
}
.drop.down {
  top: 0;
  bottom: auto;
}
.drop.down.max {
  width: 100%;
}
.drop.down-left {
  top: 100%;
  bottom: auto;
  left: 0;
  right: auto;
}
.drop.down-left.max {
  width: 100%;
}
.drop.down-right {
  top: 100%;
  bottom: auto;
  right: 0;
  left: auto;
}
.drop.down-right.max {
  width: 100%;
}
.drop.left {
  left: 0;
  right: auto;
}
.drop.left-down {
  left: auto;
  right: 100%;
  top: 0;
  bottom: auto;
}
.drop.left-down.max {
  width: 100%;
}
.drop.left-up {
  left: auto;
  right: 100%;
  bottom: 0;
  top: auto;
}
.drop.left-up.max {
  width: 100%;
}
.drop.right {
  right: 0;
  left: auto;
}
.drop.right-down {
  right: auto;
  left: 100%;
  top: 0;
  bottom: auto;
}
.drop.right-down.max {
  width: 100%;
}
.drop.right-up {
  right: auto;
  left: 100%;
  bottom: 0;
  top: auto;
}
.drop.right-up.max {
  width: 100%;
}
.image {
  line-height: 0;
  position: relative;
}
.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.5);
  line-height: initial;
  padding: 10px;
  color: #fff;
}
.overlay:hover {
  color: #fff;
}
a.list-item,
span.list-item,
div.list-item,
strong.list-item {
  color: #424242;
  display: block;
  width: 100%;
  position: relative;
  padding: 10px 10px;
}
a.list-item:before,
span.list-item:before,
div.list-item:before,
strong.list-item:before,
a.list-item:after,
span.list-item:after,
div.list-item:after,
strong.list-item:after {
  content: " ";
  display: table;
}
a.list-item:after,
span.list-item:after,
div.list-item:after,
strong.list-item:after {
  clear: both;
}
a.list-item .text,
span.list-item .text,
div.list-item .text,
strong.list-item .text {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  text-align: center;
  font-size: 0;
  line-height: 0;
  text-align: left;
}
a.list-item .text .crow,
span.list-item .text .crow,
div.list-item .text .crow,
strong.list-item .text .crow {
  font-size: 0;
  line-height: 0;
  padding: 0;
}
a.list-item .text:before,
span.list-item .text:before,
div.list-item .text:before,
strong.list-item .text:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
a.list-item .text > *,
span.list-item .text > *,
div.list-item .text > *,
strong.list-item .text > * {
  vertical-align: middle;
  display: inline-block;
  font-size: 14px;
  line-height: 22px;
}
a.list-item .text > *:not(.text-center),
span.list-item .text > *:not(.text-center),
div.list-item .text > *:not(.text-center),
strong.list-item .text > *:not(.text-center) {
  text-align: left;
}
a.list-item .pull-left + .text,
span.list-item .pull-left + .text,
div.list-item .pull-left + .text,
strong.list-item .pull-left + .text {
  padding: 0 0 10px 0;
  border-bottom: 1px solid #cfd8dc;
}
a.list-item .clearfix .pull-left,
span.list-item .clearfix .pull-left,
div.list-item .clearfix .pull-left,
strong.list-item .clearfix .pull-left,
a.list-item .clearfix .pull-right,
span.list-item .clearfix .pull-right,
div.list-item .clearfix .pull-right,
strong.list-item .clearfix .pull-right {
  text-align: center;
  font-size: 0;
  line-height: 0;
  text-align: left;
}
a.list-item .clearfix .pull-left .crow,
span.list-item .clearfix .pull-left .crow,
div.list-item .clearfix .pull-left .crow,
strong.list-item .clearfix .pull-left .crow,
a.list-item .clearfix .pull-right .crow,
span.list-item .clearfix .pull-right .crow,
div.list-item .clearfix .pull-right .crow,
strong.list-item .clearfix .pull-right .crow {
  font-size: 0;
  line-height: 0;
  padding: 0;
}
a.list-item .clearfix .pull-left:before,
span.list-item .clearfix .pull-left:before,
div.list-item .clearfix .pull-left:before,
strong.list-item .clearfix .pull-left:before,
a.list-item .clearfix .pull-right:before,
span.list-item .clearfix .pull-right:before,
div.list-item .clearfix .pull-right:before,
strong.list-item .clearfix .pull-right:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
a.list-item .clearfix .pull-left > *,
span.list-item .clearfix .pull-left > *,
div.list-item .clearfix .pull-left > *,
strong.list-item .clearfix .pull-left > *,
a.list-item .clearfix .pull-right > *,
span.list-item .clearfix .pull-right > *,
div.list-item .clearfix .pull-right > *,
strong.list-item .clearfix .pull-right > * {
  vertical-align: middle;
  display: inline-block;
  font-size: 14px;
  line-height: 22px;
}
a.list-item .clearfix .pull-left > *:not(.text-center),
span.list-item .clearfix .pull-left > *:not(.text-center),
div.list-item .clearfix .pull-left > *:not(.text-center),
strong.list-item .clearfix .pull-left > *:not(.text-center),
a.list-item .clearfix .pull-right > *:not(.text-center),
span.list-item .clearfix .pull-right > *:not(.text-center),
div.list-item .clearfix .pull-right > *:not(.text-center),
strong.list-item .clearfix .pull-right > *:not(.text-center) {
  text-align: left;
}
a.list-item .icon:first-child,
span.list-item .icon:first-child,
div.list-item .icon:first-child,
strong.list-item .icon:first-child {
  margin-right: 5px;
}
a.list-item:hover {
  text-decoration: none;
  color: #009688;
}
a.list-item:hover:hover {
  color: #009688;
}
/*.modal {*/
  /*content: '';*/
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*bottom: 0;*/
  /*left: 0;*/
  /*background-color: rgba(0,0,0,0.5);*/
/*}*/
/*.modal .modal-inner {*/
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*bottom: 0;*/
  /*left: 0;*/
/*}*/
/*.slider {*/
  /*overflow: hidden;*/
  /*position: relative;*/
/*}*/
/*.slider .stripe:before,*/
/*.slider .stripe:after {*/
  /*content: " ";*/
  /*display: table;*/
/*}*/
/*.slider .stripe:after {*/
  /*clear: both;*/
/*}*/
/*.slider .stripe .slide {*/
  /*background-size: cover;*/
  /*background-position: center center;*/
  /*height: 100%;*/
/*}*/
/*.slider .stripe .slide img {*/
  /*width: 100%;*/
/*}*/
/*.slider .left,*/
/*.slider .right {*/
  /*top: 50%;*/
  /*margin-top: -40px;*/
  /*font-size: 80px;*/
  /*color: #fff;*/
/*}*/
/*.slider .left:hover,*/
/*.slider .right:hover {*/
  /*color: #fff;*/
/*}*/
/*.slider .left:hover,*/
/*.slider .right:hover {*/
  /*text-decoration: none;*/
  /*opacity: 0.8;*/
/*}*/
/*.slider .slider-nav {*/
  /*position: absolute;*/
  /*bottom: 20px;*/
  /*left: 0;*/
  /*right: 0;*/
  /*width: 100%;*/
  /*text-align: center;*/
  /*z-index: 10;*/
/*}*/
/*.slider .slider-nav ul li {*/
  /*padding: 0;*/
/*}*/
/*.slider .slider-nav ul li a {*/
  /*width: 10px;*/
  /*height: 10px;*/
  /*background-color: #9e9e9e;*/
/*}*/
/*.slider .slider-nav ul li a:hover {*/
  /*background-color: #e0e0e0;*/
/*}*/
/*.slider .slider-nav ul li a.active {*/
  /*background-color: #fff;*/
/*}*/
.onoffswitch {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.onoffswitch .checkbox {
  display: none;
}
.onoffswitch .checkbox:checked + .switch .inner {
  margin-left: -100%;
}
.onoffswitch .checkbox:checked + .switch .handle {
  right: 50%;
}
.onoffswitch .switch {
  margin: 0;
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #cfd8dc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: 100%;
}
.onoffswitch .switch .inner {
  height: inherit;
  width: 200%;
  -webkit-transition: margin 0.3s ease-in;
  -moz-transition: margin 0.3s ease-in;
  -o-transition: margin 0.3s ease-in;
  -ms-transition: margin 0.3s ease-in;
  transition: margin 0.3s ease-in;
  text-transform: uppercase;
}
.onoffswitch .switch .inner .on {
  margin: 0 -1px 0 -2px;
  color: #fff;
  background-color: #00bcd4;
}
.onoffswitch .switch .inner .on:hover {
  color: #fff;
}
.onoffswitch .switch .inner .on,
.onoffswitch .switch .inner .off {
  height: inherit;
  width: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  color: #fff;
}
.onoffswitch .switch .inner .on:hover,
.onoffswitch .switch .inner .off:hover {
  color: #fff;
}
.onoffswitch .switch .inner .on .value,
.onoffswitch .switch .inner .off .value {
  padding: 8px 8px;
  vertical-align: middle;
  width: 50%;
  line-height: 24px;
  font-size: 14px;
  text-align: center;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.onoffswitch .switch .inner .off {
  text-align: right;
  background-color: #e0e0e0;
  color: #fff;
}
.onoffswitch .switch .inner .off:hover {
  color: #fff;
}
.onoffswitch .switch .inner .off .value {
  padding-right: 16px;
}
.onoffswitch .switch .handle {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0px;
  width: 50%;
  border: 1px solid #cfd8dc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: block;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  background-color: #fff;
}
.tile {
  -webkit-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.12);
  -moz-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.12);
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.12);
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
a.tile {
  color: inherit;
}
.notice:before,
.notice:after {
  content: " ";
  display: table;
}
.notice:after {
  clear: both;
}
.notice .message {
  margin: 10px;
  padding: 15px 20px;
  background-color: #212121;
  -webkit-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.12);
  -moz-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.12);
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.12);
  display: inline-block;
  *display: inline;
  *zoom: 1;
  color: #fff;
  display: block;
}
.notice .message:hover {
  color: #fff;
}
.notice .message span {
  font-size: 90%;
}
.notice .message .button {
  padding: 0;
  color: #00bcd4;
}
.notice .message .button:hover {
  color: #00bcd4;
}
.notice .message .button:hover {
  background: none;
  color: #80deea;
}
.notice .message .button:hover:hover {
  color: #80deea;
}
.tabs a.tab-link {
  text-align: center;
  border-bottom: 2px solid transparent;
  display: block;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.tabs a.tab-link.icon {
  font-size: 120%;
}
.tabs a.tab-link:hover,
.tabs a.tab-link.active {
  text-decoration: none;
  background: none;
  border-color: #00bcd4;
  color: #00bcd4;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.tabs a.tab-link:hover:hover,
.tabs a.tab-link.active:hover {
  color: #00bcd4;
}
.tabs a.tab-link:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.flip {
  -webkit-perspective: argument;
  -moz-perspective: argument;
  -ms-perspective: argument;
  perspective: argument;
  -webkit-transform: perspective: argument;;
  -moz-transform: perspective: argument;;
  -o-transform: perspective: argument;;
  -ms-transform: perspective: argument;;
  transform: perspective: argument;;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-styke: preserve-3d;
  display: block;
}
.flip.toggle .front {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.flip.toggle .back {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.flip .front,
.flip .back {
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -ms-transition: 0.6s;
  transition: 0.6s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-styke: preserve-3d;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.flip .front {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  z-index: 2;
}
.flip .back {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

a {
  color: #00bcd4;
  text-decoration: none;
}
a:hover {
  color: #4dd0e1;
  text-decoration: underline;
}
hr {
  border: 0;
  border-bottom: 1px solid #cfd8dc;
}
h1,
h2 {
  margin-bottom: 20px;
}
h3,
h4,
h5,
h6 {
  font-size: 16px;
  margin-bottom: 20px;
}
p,
ul {
  font-size: 14px;
  line-height: 22px;
}
@media (min-width: 1200px) {
  body:before {
    content: 'desktop';
  }
}
@media (min-width: 768px) and (max-width: 1199px) and (orientation: portrait) {
  body:before {
    content: 'tablet vertical';
  }
}
@media (min-width: 768px) and (max-width: 1199px) and (orientation: landscape) {
  body:before {
    content: 'tablet horizontal';
  }
}
@media (max-width: 767px) and (orientation: portrait) {
  body:before {
    content: 'smartphone vertical';
  }
}
@media (max-width: 767px) and (orientation: landscape) {
  body:before {
    content: 'smartphone horizontal';
  }
}

/* Small bootstrap buttons (between btn-sm and btn-xs) */
.btn-ssm {
  padding: 1px 4px;
}
