.validatorLevelTag {
  display: inline-block;
  padding: 0;
  margin-top: -2px;
  padding-left: 3px;
  padding-right: 3px;
}

.clear {
  clear: both;
  float: left;
}

.game-container {
  /*border: 1px solid black;*/
  -webkit-border-radius:5px;
  -moz-border-radius:5px;
  border-radius:5px;
  padding: 10px;
  margin: 10px;
  margin-bottom: 30px;
  width:calc(100% - 20px);
  overflow: hidden;
  background: #fafafa;
  margin-bottom: 50px;
  overflow: visible;
}

#messages strong {
  text-align: center;
  width: 100%;
}

/*.modal {*/
  /*content: '';*/
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*bottom: 0;*/
  /*left: 0;*/
  /*background-color: rgba(0,0,0,0.5);*/
/*}*/
/*.modal .modal-inner {*/
  /*position: absolute;*/
  /*top: 0;*/
  /*right: 0;*/
  /*bottom: 0;*/
  /*left: 0;*/
/*}*/
/*.slider {*/
  /*overflow: hidden;*/
  /*position: relative;*/
/*}*/
/*.slider .stripe:before,*/
/*.slider .stripe:after {*/
  /*content: " ";*/
  /*display: table;*/
/*}*/
/*.slider .stripe:after {*/
  /*clear: both;*/
/*}*/
/*.slider .stripe .slide {*/
  /*background-size: cover;*/
  /*background-position: center center;*/
  /*height: 100%;*/
/*}*/
/*.slider .stripe .slide img {*/
  /*width: 100%;*/
/*}*/
/*.slider .left,*/
/*.slider .right {*/
  /*top: 50%;*/
  /*margin-top: -40px;*/
  /*font-size: 80px;*/
  /*color: #fff;*/
/*}*/
/*.slider .left:hover,*/
/*.slider .right:hover {*/
  /*color: #fff;*/
/*}*/
/*.slider .left:hover,*/
/*.slider .right:hover {*/
  /*text-decoration: none;*/
  /*opacity: 0.8;*/
/*}*/
/*.slider .slider-nav {*/
  /*position: absolute;*/
  /*bottom: 20px;*/
  /*left: 0;*/
  /*right: 0;*/
  /*width: 100%;*/
  /*text-align: center;*/
  /*z-index: 10;*/
/*}*/
/*.slider .slider-nav ul li {*/
  /*padding: 0;*/
/*}*/
/*.slider .slider-nav ul li a {*/
  /*width: 10px;*/
  /*height: 10px;*/
  /*background-color: #9e9e9e;*/
/*}*/
/*.slider .slider-nav ul li a:hover {*/
  /*background-color: #e0e0e0;*/
/*}*/
/*.slider .slider-nav ul li a.active {*/
  /*background-color: #fff;*/
/*}*/
.onoffswitch {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.onoffswitch .checkbox {
  display: none;
}
.onoffswitch .checkbox:checked + .switch .inner {
  margin-left: -100%;
}
.onoffswitch .checkbox:checked + .switch .handle {
  right: 50%;
}
.onoffswitch .switch {
  margin: 0;
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 1px solid #cfd8dc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: 100%;
}
.onoffswitch .switch .inner {
  height: inherit;
  width: 200%;
  -webkit-transition: margin 0.3s ease-in;
  -moz-transition: margin 0.3s ease-in;
  -o-transition: margin 0.3s ease-in;
  -ms-transition: margin 0.3s ease-in;
  transition: margin 0.3s ease-in;
  text-transform: uppercase;
}
.onoffswitch .switch .inner .on {
  margin: 0 -1px 0 -2px;
  color: #fff;
  background-color: #00bcd4;
}
.onoffswitch .switch .inner .on:hover {
  color: #fff;
}
.onoffswitch .switch .inner .on,
.onoffswitch .switch .inner .off {
  height: inherit;
  width: 50%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 0;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  color: #fff;
}
.onoffswitch .switch .inner .on:hover,
.onoffswitch .switch .inner .off:hover {
  color: #fff;
}
.onoffswitch .switch .inner .on .value,
.onoffswitch .switch .inner .off .value {
  padding: 8px 8px;
  vertical-align: middle;
  width: 50%;
  line-height: 24px;
  font-size: 14px;
  text-align: center;
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
.onoffswitch .switch .inner .off {
  text-align: right;
  background-color: #e0e0e0;
  color: #fff;
}
.onoffswitch .switch .inner .off:hover {
  color: #fff;
}
.onoffswitch .switch .inner .off .value {
  padding-right: 16px;
}
.onoffswitch .switch .handle {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0px;
  width: 50%;
  border: 1px solid #cfd8dc;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: block;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
  background-color: #fff;
}
.tile {
  -webkit-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.12);
  -moz-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.12);
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.12);
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
a.tile {
  color: inherit;
}
.notice:before,
.notice:after {
  content: " ";
  display: table;
}
.notice:after {
  clear: both;
}
.notice .message {
  margin: 10px;
  padding: 15px 20px;
  background-color: #212121;
  -webkit-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.12);
  -moz-box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.12);
  box-shadow: 0px 1px 2px 1px rgba(0,0,0,0.12);
  display: inline-block;
  *display: inline;
  *zoom: 1;
  color: #fff;
  display: block;
}
.notice .message:hover {
  color: #fff;
}
.notice .message span {
  font-size: 90%;
}
.notice .message .button {
  padding: 0;
  color: #00bcd4;
}
.notice .message .button:hover {
  color: #00bcd4;
}
.notice .message .button:hover {
  background: none;
  color: #80deea;
}
.notice .message .button:hover:hover {
  color: #80deea;
}
.tabs a.tab-link {
  text-align: center;
  border-bottom: 2px solid transparent;
  display: block;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.tabs a.tab-link.icon {
  font-size: 120%;
}
.tabs a.tab-link:hover,
.tabs a.tab-link.active {
  text-decoration: none;
  background: none;
  border-color: #00bcd4;
  color: #00bcd4;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.tabs a.tab-link:hover:hover,
.tabs a.tab-link.active:hover {
  color: #00bcd4;
}
.tabs a.tab-link:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.flip {
  -webkit-perspective: argument;
  -moz-perspective: argument;
  -ms-perspective: argument;
  perspective: argument;
  -webkit-transform: perspective: argument;;
  -moz-transform: perspective: argument;;
  -o-transform: perspective: argument;;
  -ms-transform: perspective: argument;;
  transform: perspective: argument;;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-styke: preserve-3d;
  display: block;
}
.flip.toggle .front {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.flip.toggle .back {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
}
.flip .front,
.flip .back {
  -webkit-transition: 0.6s;
  -moz-transition: 0.6s;
  -o-transition: 0.6s;
  -ms-transition: 0.6s;
  transition: 0.6s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-styke: preserve-3d;
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}
.flip .front {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  z-index: 2;
}
.flip .back {
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
}

a:hover {
  color: #4dd0e1;
  text-decoration: underline;
}
hr {
  border: 0;
  border-bottom: 1px solid #cfd8dc;
}
h1,
h2 {
  margin-bottom: 20px;
}
h3,
h4,
h5,
h6 {
  font-size: 16px;
  margin-bottom: 20px;
}
p,
ul {
  font-size: 14px;
  line-height: 22px;
}

/* Small bootstrap buttons (between btn-sm and btn-xs) */
.btn-ssm {
  padding: 1px 4px;
}

/* Background color. */
body {
    background-color: #fafafa;
}

/* Navbar style. */

/* General look of the navbar. */
.navbar-cd {
    background-color: #03a9f4;
    border-radius: 0;
    border: none;
}

/* Background and color of the Logo + Name. */
.navbar-cd .navbar-brand {
    color: white;
}
.navbar-cd .navbar-brand:hover,
.navbar-cd .navbar-brand:focus {
    background-color: #29b6f6;
}

/* Background and color of header entries. */
.navbar-cd .navbar-nav > li > a {
    color: white;
}
.navbar-cd .navbar-nav > li > a:hover,
.navbar-cd .navbar-nav > li > a:focus {
    background-color: #29b6f6;
}

/* Background and color of open dropdowns. */
.navbar-cd .navbar-nav > .dropdown.open > a {
    background-color: #29b6f6;
    color: white;
}

/* Background and color dropdowns in collapsed mode. */
@media (max-width: 767px) {
    .navbar-cd .navbar-nav .open .dropdown-menu > li > a {
        color: white;
    }
    .navbar-cd .navbar-nav .open .dropdown-menu > li > a:focus,
    .navbar-cd .navbar-nav .open .dropdown-menu > li > a:hover {
        background-color: #29b6f6;
    }
    .navbar-cd .navbar-nav .open .dropdown-menu .divider {
        background-color: #54c4f8;
    }
}

/* "Toggle header" button color in collapsed mode. */
.navbar-cd .navbar-toggle .icon-bar {
    background-color: white;
}

/*
Blue dropdown menus. Didn't look so great.

.navbar-cd .dropdown-menu {
    background-color: #29b6f6;
    border-top: none;
    box-shadow: none;
}

.navbar-cd .dropdown-menu > li > a {
    color: white;
}
.navbar-cd .dropdown-menu > li > a:hover {
    background-color: #54c4f8;
    color: white;
}
.navbar-cd .dropdown-menu > li > a:focus {
    background-color: #54c4f8;
    color: white;
}
*/

/*
 * Set footer position to the bottom of the screen.
 * https://css-tricks.com/couple-takes-sticky-footer/
 */
html, body {
    height: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
#content {
    flex: 1 0 auto;
}
#footer {
    flex-shrink: 0;
    margin: 0;
}
