/* (Page-wide) Re-usable classes
============================================================================= */

/* Tables
----------------------------------------------------------------------------- */

/* Vertically align table content in the middle.
   Useful when some cells have taller content than others, e.g. buttons. */
.table-v-align-middle > thead > tr > th,
.table-v-align-middle > tbody > tr > td {
    vertical-align: middle;
}

/* Attacker- and defender-colored elements
----------------------------------------------------------------------------- */

.bg-attacker {
    background-color: var(--bg-attacker);
}
.bg-attacker-light {
    background-color: var(--bg-attacker-light);
}

.bg-defender {
    background-color: var(--bg-defender);
}
.bg-defender-light {
    background-color: var(--bg-defender-light);
}

.fg-attacker {
    color: var(--fg-attacker);
}

.fg-defender {
    color: var(--fg-defender);
}

.btn-attacker {
    color: white;
    background-color: var(--bg-attacker);
    border-color: var(--bg-attacker-contrast);
}
.btn-attacker:hover {
    color: white;
    background-color: var(--bg-attacker-dark);
    border-color: var(--bg-attacker-contrast-dark);
}

.btn-defender {
    color: white;
    background-color: var(--bg-defender);
    border-color: var(--bg-defender-contrast);
}
.btn-defender:hover {
    color: white;
    background-color: var(--bg-defender-dark);
    border-color: var(--bg-defender-contrast-dark);
}

/* Mutant icons
----------------------------------------------------------------------------- */

.mutantCUTImage {
    width: 18px;
    height: 18px;
    background-size: contain;
    display: inline-block;
}

.mutantImageAlive {
    background-image: url('../images/ingameicons/mutant.png');
}
.mutantImageEquiv {
    background-image: url('../images/ingameicons/mutantEquiv.png');
}
.mutantImageFlagged {
    background-image: url('../images/ingameicons/mutantFlagged.png');
}
.mutantImageKilled {
    background-image: url('../images/ingameicons/mutantKilled.png');
}
.mutantImageFlagAction {
    background-image: url('../images/ingameicons/flag.png');
}

/* Terminal-like text style for command-line output <pre>s
----------------------------------------------------------------------------- */

.terminal-pre {
    background: #000;
    color: #c4c4c4;
    white-space: pre;
    overflow-x: auto;
    font-size: 12px;
    border-radius: 0;
    border: 0;
    padding: 8px;
}
