/* Re-usable classes
============================================================================= */

/* Tables
----------------------------------------------------------------------------- */

.table-center td,
.table-center th {
    text-align: center;
}

/* Attacker- and defender-colored elements
----------------------------------------------------------------------------- */

.bg-attacker {
    background-color: var(--attacker-color);
}

.bg-defender {
    background-color: var(--defender-color);
}

.fg-attacker {
    color: var(--attacker-color);
}

.fg-defender {
    color: var(--defender-color);
}

.btn-attacker {
    color: white;
    background-color: var(--attacker-color);
    border-color: var(--attacker-color-contrast);
}
.btn-attacker:hover {
    color: white;
    background-color: var(--attacker-color-dark);
    border-color: var(--attacker-color-contrast-dark);
}

.btn-defender {
    color: white;
    background-color: var(--defender-color);
    border-color: var(--defender-color-contrast);
}
.btn-defender:hover {
    color: white;
    background-color: var(--defender-color-dark);
    border-color: var(--defender-color-contrast-dark);
}

/* Mutant icons
----------------------------------------------------------------------------- */

.mutantCUTImage {
    width: 18px;
    height: 18px;
    background-size: contain;
    display: inline-block;
}

.mutantImageAlive {
    background-image: url('../images/ingameicons/mutant.png');
}
.mutantImageEquiv {
    background-image: url('../images/ingameicons/mutantEquiv.png');
}
.mutantImageFlagged {
    background-image: url('../images/ingameicons/mutantFlagged.png');
}
.mutantImageKilled {
    background-image: url('../images/ingameicons/mutantKilled.png');
}
.mutantImageFlagAction {
    background-image: url('../images/ingameicons/flag.png');
}

/* Terminal-like text style for command-line output <pre>s
----------------------------------------------------------------------------- */

.terminal-pre {
    background: #000;
    color: #c4c4c4;
    white-space: pre;
    overflow-x: auto;
    font-size: 12px;
    border-radius: 0;
    border: 0;
    padding: 8px;
}
