.pie {
    --percentage: 0;
    --border-width: 22px;
    --color-primary: inherit;
    --color-secondary: inherit;
    --width: 12rem;

    position: relative;
    display: inline-grid;

    width: var(--width);
    height: var(--width);
    aspect-ratio: 1;

    margin: 5px;

    place-content: center;

    font-size: 1.5rem;
}

.pie::before,
.pie::after {
    content: "";
    position: absolute;
    border-radius: 50%;
}

.pie::before {
    inset: 0;
    background: radial-gradient(
            farthest-side,
            var(--color-primary) 98%,
            #0000
    ) top/var(--border-width) var(--border-width) no-repeat,
    conic-gradient(
            var(--color-primary) calc(var(--percentage) * 1%),
            var(--color-secondary, #0000) 0);
    -webkit-mask: radial-gradient(
            farthest-side,
            #0000 calc(99% - var(--border-width)),
            #000 calc(100% - var(--border-width))
    );
    mask: radial-gradient(
            farthest-side,
            #0000 calc(99% - var(--border-width)),
            #000 calc(100% - var(--border-width))
    );
}

.pie::after {
    inset: calc(50% - var(--border-width) / 2);
    background: var(--color-primary);
    transform: rotate(calc(var(--percentage) * 3.6deg)) translateY(calc(50% - var(--width) / 2));
}

.pie.no-round::before {
    background-size: 0 0, auto;
}

.pie.no-round::after {
    content: none;
}

.pie.animate {
    animation: pie 1s 0.5s both;
}

/*
 * Required for animating a custom property.
 * This is an experimental feature. It's support cannot be checked with @supports because it's an at-rule.
 */
@property --percentage {
    syntax: "<number>";
    inherits: true;
    initial-value: 0;
}

@keyframes pie {
    from {
        --percentage: 0;
    }
}


/* General Dashboard design for layout & legend below: */

.dashboards {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: flex-start;
    gap: 4rem;
}

.dashboard-box {
    max-width: 25%;

    display: flex;
    flex-direction: column;
}

.pie {

}

.legend {

}

.legend-title {
    font-weight: bold;
    margin-right: .5ch;
}

.legend-title::before {
    content: '';
    display: inline-block;

    --size: 1rem;
    height: var(--size);
    width: var(--size);

    margin: 2px;
    vertical-align: middle;
}

.dashboard-box .legend:nth-of-type(2) .legend-title::before {
    background-color: var(--color-primary);
}
.dashboard-box .legend:nth-of-type(3) .legend-title::before {
    background-color: var(--color-secondary);
}

.dashboard-mutants {
    --color-primary: #730000;
    --color-secondary: #ef6b0b;
}

.dashboard-tests {
    --color-primary: #4a8a04;
    --color-secondary: #9ba473;
}

.dashboard-points,
.dashboard-games {
    --color-primary: #00a466;
    --color-secondary: #ffce53;
}
