/* (Page-wide) DataTables customizations
============================================================================= */

/* Child table styles (for child tables like in admin analytics)
----------------------------------------------------------------------------- */

/* Child table margins and padding */
.table-child-details {
    margin-left: 50px;
    padding-top: 1em;
    padding-bottom: 1.5em;
}
.table-child-details > tbody > tr > td {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 4px;
}
.table-child-details > thead > tr > th {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 12px;
}
.table-child-details > thead:first-child > tr:first-child > th {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0;
}

/* Borders between child table rows */
.table-child-details > tbody > tr {
    border-top: solid #dddddd;
    border-bottom: solid #dddddd;
    border-left: none;
    border-right: none;
    border-width: 1px;
}
.table-child-details > tbody > tr:first-child {
    border-top: none;
}
.table-child-details > tbody > tr:last-child {
    border-bottom: none;
}

/* Style for the toggle button of child tables.
----------------------------------------------------------------------------- */

.toggle-details,
.toggle-all-details {
    cursor: pointer;
    color: #6c757d; /* Color of .text-muted in Bootstrap 5. */
    transition: color .15s ease-in-out;
}
.toggle-details:hover,
.toggle-all-details:hover {
    color: black;
}
