.dataTables_wrapper .input-sm[type="search"] {
    height: 2em;
}



/* Inherit row color to all child tables. */
.table table > tbody > tr:nth-of-type(n) {
    background-color: inherit;
}

/* Color rows by .odd/.even instead of :nth-of-type(2n+1). */
.table-striped > tbody > .odd:nth-of-type(n) {
    background: transparent;
}
.table-striped > tbody > .even:nth-of-type(n) {
    background-color: #f4f4f4;
}

/* Color child table rows the same color as their leading row.
   Use :nth-of-type(n) to increase CSS specificity. */
.table-striped > tbody > .odd:nth-of-type(n) + tr:not(.odd):not(.even) {
    background: transparent;
}
.table-striped > tbody > .even:nth-of-type(n) + tr:not(.odd):not(.even) {
    background-color: #f4f4f4;
}

/* Darker color on hover. */
.table-hover > tbody > tr:hover > td {
    background-color: #f2f2f2;
}



/* Indent for row details */
table .indented {
    margin-left: 50px;
}

/* Child table margins and padding */
.table-child-details > tbody > tr > td {
    padding-left: 20px;
    padding-right: 20px;
}
.table-child-details > thead > tr > th {
    padding-left: 20px;
    padding-right: 20px;
}

/* Borders between child table rows */
.table-child-details > tbody > tr {
    border-top: solid #dddddd;
    border-bottom: solid #dddddd;
    border-width: 1px;
}
.table-child-details > tbody > tr:first-child {
    border-top: none;
}
.table-child-details > tbody > tr:last-child {
    border-bottom: none;
}
