@import 'https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu';

.btn-bold {
	font-weight: 700;
}

.table-center td,
.table-center th {
    text-align:center;
}

/* Read-only textareas */

.readonly-pre .CodeMirror-focused .CodeMirror-cursor {
    visibility: hidden; /* hide cursor */
}

.readonly-pre .CodeMirror-lines {
    cursor : default; /* default pointer */
}

.readonly-pre .CodeMirror {
    background: #F5F5F5;
}
