/* CSS for page pages
============================================================================= */

/* Game container

   Use as: <div id="game-container" class="container-fluid">
----------------------------------------------------------------------------- */

#game-container {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1660px;
}

/* Component header with controls

   Use as:
   <div class="game-component-header">
       <h3>Component Title</h3>
       <div>
           <!-- Controls for the component here (the whole div is optional) -->
       </div>
   </div>
----------------------------------------------------------------------------- */

.game-component-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: .25rem; /* Corresponds to .gap-1 in Bootstrap. */
    margin-bottom: .5rem; /* Corresponds to .mb-2 in Bootstrap. */
    min-height: 2.5rem; /* To make headers without buttons the same height as headers with buttons. */
}

.game-component-header > h3 {
    display: inline;
    margin: 0;
}

.game-component-header > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem; /* Corresponds to .gap-2 in Bootstrap. */
}

/* Container for highlighting the components for resolving an equivalence duel
----------------------------------------------------------------------------- */

.equivalence-container {
    border: 5px dashed #f00;
    border-radius: 5px;
    width: 100%;
    padding: .5rem 1rem;
}
