.scoreboard {
    color: #cccccc;
}

.scoreboard .attacker {
    background-color: var(--bg-attacker);
}
span.attackerTotal {
    color: var(--fg-attacker);
    text-align: right;
    font-size: 36px;
}

.scoreboard .attacker.header, .scoreboard .attacker.total {
    background-color: var(--bg-attacker);
}

.scoreBanner {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.scoreboard .defender {
    background-color: var(--bg-defender);
}

span.defenderTotal {
    color: var(--fg-defender);
    text-align: left;
    font-size: 36px;
}

.scoreboard .defender.header, .scoreboard .defender.total {
    background-color: var(--bg-defender);
}

.scoreboard .header th {
    color: #ffffff;
    font-weight: lighter;
    font-size: 16px;
}
