/* CSS for page pages
============================================================================= */

/* Game container
----------------------------------------------------------------------------- */

#game-container {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1660px;
}

/* Make cards with editors the same height, independent of the existence of
   headers and footers.
----------------------------------------------------------------------------- */

.codemirror-card {
    min-height: 600px;
}

/* If header + footer exceed 100px, we don't care if all cards are the same
   size and make the editor 500px high anyways. This is to escape edge-cases
   with 20+ dependencies taking up a lot of header space and thus making the
   editor very small. */
.codemirror-card .card-body {
    min-height: 500px;
}

/* Make CodeMirror instances take 100% of the card body space.
   stackoverflow.com/questions/4804581/css-expand-float-child-div-height-to-parents-height */
.codemirror-card .card-body {
    position: relative;
}
.codemirror-card .card-body .CodeMirror {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
