/* CSS for page pages
============================================================================= */

/* Game container

   Use as: <div id="game-container" class="container-fluid">
----------------------------------------------------------------------------- */

#game-container {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 1660px;
}

/* Make cards with editors the same height, independent of the existence of
   headers and footers.

   Use as:
   <div class="card codemirror-card">
       ...
       <div class="card-body">
           <!-- CodeMirror container here -->
       </div>
       ...
   </div>
----------------------------------------------------------------------------- */

.codemirror-card {
    min-height: 600px;
}

/* If header + footer exceed 100px, we don't care if all cards are the same
   size and make the editor 500px high anyways. This is to escape edge-cases
   with 20+ dependencies taking up a lot of header space and thus making the
   editor very small. */
.codemirror-card .card-body {
    min-height: 500px;
}

/* Make CodeMirror instances take 100% of the card body space.
   stackoverflow.com/questions/4804581/css-expand-float-child-div-height-to-parents-height */
.codemirror-card .card-body {
    position: relative;
}
.codemirror-card .card-body .CodeMirror {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Component header with controls

   Use as:
   <div class="game-component-header">
       <h3>Component Title</h3>
       <div>
           <!-- Controls for the component here (the whole div is optional) -->
       </div>
   </div>
----------------------------------------------------------------------------- */

.game-component-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: .25rem; /* Corresponds to .gap-1 in Bootstrap. */
    margin-bottom: .5rem; /* Corresponds to .mb-2 in Bootstrap. */
    min-height: 2.5rem; /* To make headers without buttons the same height as headers with buttons. */
}

.game-component-header > h3 {
    display: inline;
    margin: 0;
}

.game-component-header > div {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: .5rem; /* Corresponds to .gap-2 in Bootstrap. */
}

/* Submit buttons that stick out a little bit
----------------------------------------------------------------------------- */

.btn-game {
    font-weight: bold;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}
