/* General look of the navbar. */
.navbar-cd {
    background-color: #03a9f4;
    border-radius: 0;
    border: none;
}

/* Background and color of the Logo + Name. */
.navbar-cd .navbar-brand {
    color: white;
}
.navbar-cd .navbar-brand:hover,
.navbar-cd .navbar-brand:focus {
    background-color: #29b6f6;
}

/* Background and color of navbar entries. */
.navbar-cd .navbar-nav > li > a {
    color: white;
}
.navbar-cd .navbar-nav > li > a:hover,
.navbar-cd .navbar-nav > li > a:focus {
    background-color: #29b6f6;
}

/* Background and color of open dropdowns. */
.navbar-cd .navbar-nav > .dropdown.open > a {
    background-color: #29b6f6;
    color: white;
}

/* Background and color dropdowns in collapsed mode.
   (767px is at which width the navbar collapses.) */
@media (max-width: 767px) {
    .navbar-cd .navbar-nav .open .dropdown-menu > li > a {
        color: white;
    }
    .navbar-cd .navbar-nav .open .dropdown-menu > li > a:focus,
    .navbar-cd .navbar-nav .open .dropdown-menu > li > a:hover {
        background-color: #29b6f6;
    }
    .navbar-cd .navbar-nav .open .dropdown-menu .divider {
        background-color: #54c4f8;
    }
}

/* "Toggle navbar" button color in collapsed mode. */
.navbar-cd .navbar-toggle .icon-bar {
    background-color: white;
}

/* Blue dropdown menus. */
/*
.navbar-cd .dropdown-menu {
    background-color: #29b6f6;
    border-top: none;
    box-shadow: none;
}

.navbar-cd .dropdown-menu > li > a {
    color: white;
}
.navbar-cd .dropdown-menu > li > a:hover {
    background-color: #54c4f8;
    color: white;
}
.navbar-cd .dropdown-menu > li > a:focus {
    background-color: #54c4f8;
    color: white;
}
*/
