#formUpload #file-select {
    display: inline-block;
    margin: 0px;
}

#formUpload #submit-button {
    display: inline-block;
    float: right;
    margin: 0px;
}

.fileinput-upload-button {
    float: right;
}
