<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
		 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		 xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
		 version="3.1">

	<servlet>
		<!--suppress ServletWithoutMappingInspection -->
		<servlet-name>jsp</servlet-name>
		<!--suppress WebProperties -->
		<servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
		<init-param>
			<param-name>compiler</param-name>
			<param-value>modern</param-value>
		</init-param>
		<init-param>
			<param-name>compilerSourceVM</param-name>
			<param-value>1.8</param-value>
		</init-param>
		<init-param>
			<param-name>compilerTargetVM</param-name>
			<param-value>1.8</param-value>
		</init-param>
		<init-param>
			<param-name>suppressSmap</param-name>
			<param-value>true</param-value>
		</init-param>
		<init-param>
			<param-name>fork</param-name>
			<param-value>false</param-value>
		</init-param>
		<init-param>
			<param-name>xpoweredBy</param-name>
			<param-value>false</param-value>
		</init-param>
		<load-on-startup>3</load-on-startup>
	</servlet>

	<description>
		Code Defenders: A Mutation Testing Game
	</description>
	<display-name>Code Defenders</display-name>

	<session-config>
		<session-timeout>0</session-timeout>
		<tracking-mode>COOKIE</tracking-mode>
	</session-config>

	<!-- Security Configuration -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>no_access</web-resource-name>
			<url-pattern>/jsp/*</url-pattern>
		</web-resource-collection>
		<auth-constraint/>
	</security-constraint>

	<!-- Shiro -->
	<listener>
		<listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
	</listener>

	<context-param>
		<param-name>shiroEnvironmentClass</param-name>
		<param-value>org.codedefenders.auth.CodeDefendersWebEnvironment</param-value>
	</context-param>

	<filter>
		<filter-name>PathFilter</filter-name>
		<filter-class>org.codedefenders.PathFilter</filter-class>
	</filter>

	<filter>
		<filter-name>ShiroFilter</filter-name>
		<filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
	</filter>

	<filter>
		<filter-name>javamelody</filter-name>
		<filter-class>net.bull.javamelody.MonitoringFilter</filter-class>
		<init-param>
			<!-- Disables serving the monitoring page via the filter. A/The Servlet is explicitly registered in
			SystemStartStop if monitoring/metrics are enabled -->
			<param-name>monitoring-path</param-name>
			<param-value>???</param-value>
		</init-param>
		<init-param>
			<!-- Do not allow any system actions by default! -->
			<param-name>system-actions-enabled</param-name>
			<param-value>false</param-value>
		</init-param>
	</filter>
	<!-- End Filter Declarations -->

	<!-- Begin Filter Mapping/Ordering -->
	<filter-mapping>
		<filter-name>PathFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- You will most likely want this to be the first filter in the chain
	(therefore the first <filter-mapping> in the web.xml file), so that you can get
	the most accurate measurement of latency. -->
	<!-- I've put PathFilter first, so redirected requests don't show up twice in the metrics. -Marvin -->
	<filter-mapping> <!-- See: @WebFilter annotated class with same name -->
		<filter-name>metricsFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>javamelody</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping> <!-- See: @WebFilter annotated class with same name -->
		<filter-name>TransactionCleanupFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping> <!-- See: Filter Declarations above -->
		<filter-name>ShiroFilter</filter-name>
		<url-pattern>/*</url-pattern>
		<dispatcher>REQUEST</dispatcher>
		<dispatcher>FORWARD</dispatcher>
		<dispatcher>INCLUDE</dispatcher>
		<dispatcher>ERROR</dispatcher>
	</filter-mapping>

	<filter-mapping> <!-- See: @WebFilter annotated class with same name -->
		<filter-name>TicketingFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<filter-mapping> <!-- See: @WebFilter annotated class with same name -->
		<filter-name>BeanFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	<!-- End Filter Mapping/Ordering -->
	<!-- End WebFilter Section -->

	<!-- Begin Error Pages Section -->
	<error-page>
		<location>/jsp/error_page_404.jsp</location>
	</error-page>

	<error-page>
		<error-code>500</error-code>
		<location>/jsp/error_page_500.jsp</location>
	</error-page>
	<!-- End Error Pages Section -->

	<mime-mapping>
		<extension>mjs</extension>
		<mime-type>text/javascript</mime-type>
	</mime-mapping>
</web-app>
